*{
    margin:0;
    padding:0;
    box-sizing:border-box;

    font-family:"Roboto", sans-serif;
}

body{

    background:linear-gradient(to right,#121212,#1e1e1e);

}

.container{

    width:100%;
    height:100vh;

    display:flex;

    justify-content:center;
    align-items:center;

    padding:20px;
}

.profile-card{

    width:90%;
    max-width:420px;

    border-radius:30px;

    overflow:hidden;

    box-shadow:0 10px 30px rgba(0,0,0,0.4);

    transition:0.3s ease;
}

.profile-card:hover{

    transform:translateY(-5px);
}

.top-section{

    background:#7B506F;

    text-align:center;

    color:white;

    padding:40px 20px;
}

.profile-pic{

    width:140px;

    border-radius:50%;

    border:4px solid white;

    margin-bottom:20px;
}

.top-section h1{

    font-size:32px;

    margin-bottom:10px;
}

.role{

    font-size:16px;

    opacity:0.8;
}

.bottom-section{

    background:#F5F5F5;

    text-align:center;

    padding:30px 25px;
}

.bottom-section p{

    color:#333;

    line-height:1.7;

    font-size:15px;
}

.social-icons{

    display:flex;

    justify-content:center;

    gap:25px;

    margin-top:25px;
}

.social-icons img{

    width:28px;

    transition:0.3s ease;
}

.social-icons img:hover{

    transform:scale(1.2);
}